extends layout

block content
    if user
        h1(class="page-title-color-only")
            a(href=`/user/${user.id}`, class="button-to-go-to-other-page") #{user.username}
            | 's Friends
        .container
            if friends && friends.length
                each friend in friends
                    .card
                        img(src=`/images/${friend.avatar}`, alt=`${friend.username}'s Avatar`, class='avatar')
                        h2
                            a(href=`/user/${friend.id}`, class="button-to-go-to-other-page") #{friend.username}
                        p Email: #{friend.email}
            else
                p No friends found.
    else
        p User not found.
