extends layout

block content
    .header-row
        h1(class=`page-title`) News Feed
        .go-to-other-page2
            h1
                a(href="/admin/users", class=`button-to-go-to-other-page`) Go to users
    if posts && posts.length
        each post in posts
            .card(class=`user-post`)
                img(src=`/images/${post.avatar}`, alt=`${post.username}'s avatar`, class=`avatar`)
                h2 #{post.username} - #{new Date(post.date).toLocaleDateString()} at #{new Date(post.date).toLocaleTimeString()}
                p #{post.text}
                if post.images
                    each image in post.images
                        img(src=`/images/${image}`, alt="post image", class=`post-photo`)
                .status-update
                    form(action=`/admin/news/${post.userId}/post/${post.id}/update-status`, method="post")
                        label(for="status") Status:
                        select(name="status")
                            option(value="active" selected=post.status === "active") Active
                            option(value="blocked" selected=post.status === "blocked") Blocked
                        button(type="submit" class="button") Update Status
    else
        p No posts available.
