extends layout

block content
    script(src="/js/bundle.js")
    h1(class=`page-title`) Users Management
    .go-to-other-page
        h1
            a(href="/admin/news") Go to news
    .container
        if users
            each user in users
                .card
                    .card-header #{user.username} - #{user.role}
                    .user-info
                        img(src=`/images/${user.avatar}`, alt=user.username, class=`avatar`)
                    .card-body
                        form(action=`/admin/users/${user.id}/update`, method="post")
                            div.user-update-info-element-form
                                label(for="username") Username:
                                input(type="text", name="username", value=user.username)

                            div.user-update-info-element-form
                                label(for="email") Email:
                                input(type="email", name="email", value=user.email)

                            div.user-update-info-element-form
                                label(for="birthDate") Birth Date:
                                div.user-update-info-element-form-birthDate-div
                                    input(type="date", name="birthDate", value=user.birthDate)

                            div.user-update-info-element-form
                                label(for="status") Status:
                                select(name="status")
                                    option(value="active" selected=user.status==="active") Active
                                    option(value="blocked" selected=user.status==="blocked") Blocked
                                    option(value="unverified" selected=user.status==="unverified") Unverified

                            div.user-update-info-element-form
                                label(for="role") Role:
                                select(name="role")
                                    option(value="admin" selected=user.role==="admin") Admin
                                    option(value="user" selected=user.role==="user") User

                            button(type="submit" class="button") Save Changes
        else
            p No users found.