extends layout

block content
    if user
        h1 #{user.username}'s Friends' Posts
        .container
            each friend in friends
                each post in friend.posts
                    if post.status === "active"
                        .card
                            .card-header #{friend.username} - #{new Date(post.date).toLocaleDateString()} at #{new Date(post.date).toLocaleTimeString()}
                            .card-body
                                p #{post.text}

                            if post.image
                                img(src=`/images/${post.image}`, alt="post image", class=`post-photo`)
    else
        p User not found.