extends layout

block content
    if user
        h1(class="page-title-color-only")
            a(href=`/user/${user.id}`, class="button-to-go-to-other-page") #{user.username}
            | 's Friends' Posts
        .container
            each friend in friends
                each post in friend.posts
                    if post.status === "active"
                        .card
                            .card-header
                                a(href=`/user/${friend.id}`, class="button-to-go-to-other-page") #{friend.username}
                                |  - #{new Date(post.date).toLocaleDateString()} at #{new Date(post.date).toLocaleTimeString()}
                            .card-body
                                p #{post.text}

                            if post.images
                                each image in post.images
                                    img(src=`/images/${image}`, alt="post image", class=`post-photo`)
    else
        p User not found.